# Godot
.godot/
**/.godot/
export_presets.cfg
*.translation
*.import

# Godot Mono / C#
.mono/
**/.mono/
*.csproj
*.sln
/.vs/
/bin/
/obj/
**/bin/
**/obj/

# User-specific
*.user
*.tmp
*.log

# OS
Thumbs.db
.DS_Store
