<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget\packages" />
  </config>
  <packageSources>
    <add key="godot-local" value="D:\GodotCSharp\Godot_v4.6.1-stable_mono_win64\GodotSharp\Tools\nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
